.m-team-slider {
  position: relative;
  @media screen and (max-width: 575px) {
    padding-left: 45px;
    padding-right: 45px;
  }

  .slick-track {
    display: flex !important;

  }

  .slick-slide {
    height: inherit !important;
    > div {
      height: 100%;
    }
  }

  .slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    height: 100%;
    padding: 0 15px;

    .img-container {
      width: auto;

      box-shadow: 0 0 20px 20px white inset;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
      }

      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-width: 10px;
        background-color: white;
      }
    }

    .slide-content {
      width: 100%;
    }

    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50px;
      background-color: $bg-black;

      .social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        font-size: 20px;
        color: $note-white;
        text-decoration: none;
        transition: all 0.4s ease-in-out;

        &:hover {
          color: $bg-black;
          background-color: $note-white;
          transition: all 0.4s ease-in-out;
        }
      }

    }

  }

  //Restyle slick arrows
  .slick-next {
    @media screen and (max-width: 575px) {
      right: 15px;
    }

    &:hover {
      fill: $main-blue;
    }
  }

  .slick-prev {
    @media screen and (max-width: 575px) {
      left: 15px;
    }

    &:hover {
      fill: $main-blue;
    }
  }

}
