.l-about {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 10vh solid $main-black;
    border-right: 30vw solid transparent;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 10vh solid $main-black;
    border-left: 30vw solid transparent;
  }
  article {
    height: 480px;
    overflow: hidden;
    &::after {
      content: '';
      width: 100%;
      height: 200px;
      position: absolute;
      bottom: 40px;
      right: 0;
      background-image: linear-gradient(rgba(0, 0, 0, 0), #fff);
      z-index: 10;
    }
  }
  .expanded {
    height: auto;
    &::after {
      height: 0px;
    }
  }


  .description {
    p {
      font-size: 16px;
    }
  }

  .image-container-about {
    height: 420px;
    .img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-image: url("../img/about-section/about-img.jpg");
      box-shadow: 0 0 20px 20px white inset;
    }
  }
}
