.l-result-of-research {
  .row {
    .filter-form {

      .search {
        width: 350px;
        height: 50px;
        border: 1px solid #647379;
        padding-left: 20px;
        font-size: 18px;
      }

      .btn-search {
        width: 150px;
        height: 50px;
        margin-bottom: 6px;
        font-size: 20px;
      }

    }
  }

    .row-of-blocks {

      .result-block {
        //margin-left: 5px;
        //margin-right: 5px;
        //background-color: #afafaf;
        .title-block {

        }

        .date-block {
          padding-bottom: 10px;
          border-bottom: 1px solid #1b1e21;
        }

      }

    }

  }
