.l-what-include {
  h2 {
    &::after {
      @include line;
      margin: 30px auto 30px;
    }
  }
  h3 {
    color: #336BA0;
  }
  //Change default tabs
  .react-tabs__tab--selected {
    background-color: #336BA0;
    transition: all 0.5s ease-in-out;
    &::after {
      border-left-color: #336BA0;
    }
    &::before {
      border-right-color: #336BA0;
    }
  }
  .react-tabs__tab-panel {
    display: flex;
    //flex-direction: column;
    align-items: center;
    background: $bg-black;
    color: white;

  }
  .react-tabs__tab-panel--selected {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    @media screen and (max-width: 992px){
      min-height: 300px;
    }
    @media screen and (max-width: 768px){
      min-height: 400px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      left: -68px;
      width: 0;
      height: 0;
      border-top: 112px solid transparent;
      border-right: 68.5px solid $bg-black;
      border-bottom: 112px solid transparent;
      @media screen and (max-width: 992px){
         display: none;
      }
    }
  }
  //

  .hexagon {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    margin: 10px 30px;
    &:hover {
      background-color: $hover-sea;
      &::after {
        border-left-color: $hover-sea;
      }
      &::before {
        border-right-color: $hover-sea;
      }
    }
    p {
      font-size: 30px;
      z-index: 100;
      @media screen and (max-width: 992px){
        font-size: 20px;
      }
    }
  }

  .first-hex {
    //margin-top: -30px;
    margin-left: 250px;
    @media screen and (max-width: 992px){
      margin-left: 210px;
    }
    @media screen and (max-width: 767px){
      margin-left: 150px;
    }
    @media screen and (max-width: 420px){
      margin-left: 170px;
    }

    &:hover {
      .first-hide-part {
        opacity: 1;
      }
    }
  }
  .second-hex {
    margin-top: -110px;
    margin-bottom: -110px;
    z-index: 1;
    @media screen and (max-width: 992px){
      margin-top: -65px;
      margin-bottom: -65px;
      margin-left: 60px;
    }
    @media screen and (max-width: 767px){
      margin-left: 0px;
    }
    @media screen and (max-width: 420px){
      margin-top: -65px;
      margin-bottom: -65px;
      margin-left: 20px;
    }
  }
  .third-hex {
    //margin-top: -30px;
    margin-left: 250px;
    @media screen and (max-width: 992px){
      margin-left: 210px;
    }
    @media screen and (max-width: 767px){
      margin-left: 150px;
    }
    @media screen and (max-width: 420px){
      margin-left: 170px;
    }
  }
}