.l-what-include {
  h2 {
    &::after {
      @include line;
      margin: 30px auto 30px;
    }
  }
  .hexagon {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    margin: 10px 30px;
    &:hover {
      background-color: $hover-sea;
      &::after {
        border-left-color: $hover-sea;
      }
      &::before {
        border-right-color: $hover-sea;
      }
    }
    p {
      font-size: 30px;
      z-index: 100;
      @media screen and (max-width: 992px){
        font-size: 20px;
      }
    }
  }

  .first-hex {
    //margin-top: -30px;
    margin-left: 250px;
    @media screen and (max-width: 992px){
      margin-left: 210px;
    }
    @media screen and (max-width: 767px){
      margin-left: 150px;
    }
    @media screen and (max-width: 420px){
      margin-left: 170px;
    }

    &:hover {
      .first-hide-part {
        opacity: 1;
      }
    }
  }
  .second-hex {
    margin-top: -90px;
    margin-bottom: -90px;
    z-index: 1;
    @media screen and (max-width: 992px){
      margin-top: -65px;
      margin-bottom: -65px;
      margin-left: 60px;
    }
    @media screen and (max-width: 767px){
      margin-left: 0px;
    }
    @media screen and (max-width: 420px){
      margin-top: -65px;
      margin-bottom: -65px;
      margin-left: 20px;
    }
  }
  .third-hex {
    //margin-top: -30px;
    margin-left: 250px;
    @media screen and (max-width: 992px){
      margin-left: 210px;
    }
    @media screen and (max-width: 767px){
      margin-left: 150px;
    }
    @media screen and (max-width: 420px){
      margin-left: 170px;
    }
  }
}