//Colors
$main-black: #23272b;
$bg-black: #1b1e21;
$note-white: #d2d2d2;
$main-blue: #0e367f;
$hover-sea: #004d4d;

//Fonts
//@font-face {
//  font-family: slick;
//  src: url(../fonts/slick.ttf);
//  font-style: normal;
//  font-weight: normal;
//}
//@font-face {
//  font-family: slick;
//  src: url(../fonts/slick.woff);
//  font-style: normal;
//  font-weight: normal;
//}
//@font-face {
//  font-family: slick;
//  src: url(../fonts/slick.eot);
//  font-style: normal;
//  font-weight: normal;
//}